@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  color: #000000;
}

.navbar {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.navbar-brand {
  color: #000000;
  font-family: 'Lobster', cursive;
}

.banner {
  color: #000000;
  margin-top: 4em;
  border-bottom: 1px solid #000000;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

h1 small {
  color: rgb(0, 0, 0);
}

.card {
  background-color: #469ea8;
}

.card-primary {
  border-color: #a2ced3;
  margin-bottom: 1rem;
}

.review-header {
  background-color: #31727a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 1em;
}

.reviewAuthor {
  margin-left: 1rem;
  margin-right: 1rem;
}

.badge-default, .btn-primary {
  background-color: #000000;
  border-color: #807704;
}

h4 a, h4 a:hover {
  color: rgb(0, 0, 0);
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: rgb(0, 0, 0);
}

.address {
  margin-bottom: 0.5rem;
}

.facilities span.badge {
  margin-right:2px;
}

legend {
  font-family: 'Lobster', cursive;
  color : #000000;
}

.margins{
  margin: auto;
}
.middle {
    vertical-align: middle;
  border-radius: 5px;
  width: 150px;
  height: 85px;
  display: table-cell;
}
.colors {color: #000000;}

nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse li a {
  color: rgb(0, 0, 0) !important;
}nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse a {
  color: rgb(0, 0, 0) !important;
}

.container{margin-left: auto; margin-right: auto;}

.center{text-align: center;}

#review-card h5 {
  font-family: 'Ariel';
}

