extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3.mx-auto
        h1.display-4.m-b-2.center Log in

        // register form
        form(method='post' action='/login')
          div.form-group
            label email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label password:
            input#pw.form-control(type='password' name='password')
          button.btn.btn-primary(type='submit') Log in