extends layout

include _includes/sharedHTMLfunctions

block content

 
  script.
    function something(appReviews) {
      APPS = JSON.parse(appReviews);
      var reviewCard = document.getElementById("review-card");
      reviewCard.innerHTML = ("Reviews");        
      for(var i=0;i<APPS.length;i++)
      {
        for(var j=0;j<APPS[i].length;j++){
          CString = JSON.stringify(APPS[i][j]);
          var review = document.createElement("review");
          review.innerHTML = JSON.stringify(CString);
          reviewCard.appendChild(review)
        }
      }
      
    }
  
            


  .col-12
    h3 Applications #[span.float-right Reviews] 
  .row
    .col-12.col-md-6
      each app in list
        .card.card-primary
          .card-block
           ul.list-unstyled
            li= "App: "+app.name
            li= "Rating: "+ app.rating
          button.btn.btn-outline-primary.float-rightbutton(onclick= 'something(' + JSON.stringify(app.reviews) + ')') Click View Reviews

    .col-md-6
      .card.card-primary#review-card
        .card-block      