extends layout

block content

 
  script.
    function something(appReviews) {
      var reviewCard = document.getElementById("review-card");
      var revsRe = [];
      appReviews.forEach(function(element) {
        revsRe.push("Date: "+element.createdOn + "<br />");
        revsRe.push("<h5>Review: " +element.reviewText + "</h5><br /><br />");
      });
      revsRe = revsRe.map(function(e){
        return JSON.stringify(e);
      });
      dataString = revsRe.join(",");
      dataString = dataString.replace(/"|,/g,"")
      reviewCard.innerHTML = (dataString);
      }
             
      
      
    
  
            


  .col-12
    h3 Applications #[span.float-right Reviews] 
  .row
    .col-12.col-md-6
      each app in list
        .card.card-primary
          .card-block
           ul.list-unstyled
            li= "App: "+app.name
            li= "Rating: "+ app.rating
          button.btn.btn-outline-primary.float-rightbutton(onclick= 'something(' + JSON.stringify(app.reviews) + ')') Click View Reviews

    .col-md-6
      .card.card-primary#review-card
        .card-block      