extends layout

include _includes/sharedHTMLfunctions

block content

  .row.banner
    .col-12
      h1
      |Reviews
  .row
    .col-12.col-md-6
      each app in list
        .card.card-primary
          .card-block
           p= app.name